header, nav,main,footer,figure,section,aside{ display: block;}
/********************************************************************************/		
/*  styles for all pages*/
/********************************************************************************/

body{ 
	background-color: #ffffff;
	color: #777777;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 900px;
	margin-right: auto;
    margin-left: auto;
}
header{
	height: 190px;
}

header nav{ 
	background-color: #ffffff;
	border-radius:8px;
	float: right;
	width: 100%;
	
}

header nav ul li{
	float: right;
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 10px;
}

header nav ul li a {	/*  main navigation link on top right of page */
	color: #0099cc;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #aaaaaa;
}
 
section{ 
	background-color: #ffffff;
	width: 850px;
	margin-right: auto;
    margin-left: auto;
	
	margin:20px;
	padding-bottom:20px;
	padding-top:20px;
}

 
article{ 
	background-color: #ffffff;
}

h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 800px;
	border-bottom: 1px solid #02b8dd;
	padding: 0 0 20px 0;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	text-align:left;
}

footer{ 
	background-color: #f8fafa;
	text-align: center;
	
}


img{
	float: right;
	width:150px
}



/********************************************************************************/		
/*  styles for HOME page*/
/********************************************************************************/
#banner-image {
	background: url('../img/Internetworld.jpg') no-repeat center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;	
}

#banner-image h2{
	font-weight: 300;
	color: #ffffff;
	font-size: 55px;
	text-align: center;
	margin-bottom: 20px:
}
	
.box {
	background-color: #0099cc;
	width: 40%;
	float: right;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	color: #ffffff;
	border: 1px solid #02b8dd;
	Padding: 10px;
	text-align: center;

}
	
